LatestPics*.txt 
TempResizeList*
MakeAlbumLog*
*.bak
timing.txt
log.txt
.vs/phototools/CopilotIndices/17.14.878.3237/CodeChunks.db
.vs/phototools/CopilotIndices/17.14.878.3237/SemanticSymbols.db
.vs/phototools/FileContentIndex/3a4c6e76-fb24-4f4e-8206-12b54b5510ea.vsidx
.vs/phototools/v17/.wsuo
.vs/phototools/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
/faces
